body{
    font-family:"Arial", Serif;
    background-color:#f4f4f4;
    overflow-x:hidden;
  }

svg#navMenu {
    background: #333;
    padding: 0 5px;
}

  .open-slide{
      position: fixed;
      right: 2%;
      top: 2%;
  }
  
  .side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index: -1;
    top:0;
    right:0;
    background-color:#000;
    overflow-x:hidden;
    padding-top: 100px;
    transition:0.5s;
  }

   .sideNav{
    width: 300px;
    z-index: 1;
  }
  
  .side-nav .side-list a{
    padding:5px 0 5px 20px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  .side-nav .side-list a:hover{
    color:#fff;
    text-decoration: none;
    background-color: #333;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:15%;
    font-size:30px;
    padding: 0 10px;
    margin-top: 5px;
  }
  
  #main{
    padding:20px;
    overflow:hidden;
    width:auto;
  }

  #main-banner .banner{
    position: absolute;
    top: 30%;
}

.icon-list .fa {
    font-size: 30px;
    color: #000;
    padding: 3px 5px;
    margin: 0 5px;
}

.icon-list .fa:hover{
    text-decoration: none;
    color: #333;
}

#side-icon{
  padding-left: 15px;
  margin-top: 50px;
}

#side-icon .fa{
    font-size: 30px;
    color: #fff;
    float: left;
}

#side-icon .fa:hover{
    background-color: #333;
}
  
  @media(max-width:568px){
    .navbar-nav{display:none}
  }
  
  @media(min-width:568px){
    /*.open-slide{display:none}*/
  }

#about{
  margin-top: 125px;
  margin-bottom: 50px;
}

#contact{
  margin-top: 100px;
  margin-bottom: 75px;
}

#work{
  margin-top: 125px;
  margin-bottom: 75px;
}

.work img{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px){
	.bottom-class {
    margin-bottom: 50px;
	}
}
